@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster&display=swap");
* {
}
main {
  background: url(img);
}
h1 {
  text-align: center;
  font-family: "Alex Brush", cursive;
  margin-top: 10px;
  font-size: 60px;
}
.content {
  display: flex;
}
.left {
  padding: 0 10px;
  width: 75%;
}
.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lobster", cursive;
}
.links a {
  background: #D5BE9C;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #afb3c1;
  color: rgb(33 37 41);
  font-size: 15px;
  font-style: italic;
  letter-spacing: 2.2px;
  line-height: 2;
  border-radius: 100%;
  padding: 4px;
  width: 100px;
    text-align: center;
}

.quote {
  /* background-color: ; */
  font-family: "Lobster", cursive;
  display: flex;
  margin-top: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.slogan {
  background-color: chocolate;
  font-family: "Lobster", cursive;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  
}
.demo {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
}
.instruction {
  background-color: dimgray;
}
.right {
  padding: 0 20px;
  width: 25%;
}
.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  font-family: "Alex Brush", cursive;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  background: rgba(201, 148, 85, 0.65);
  mix-blend-mode: multiply;
  border: 3px solid #000000;
}
.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  justify-content: space-evenly;
}
.authorization_input {
  background: #c4c4c4;
  mix-blend-mode: screen;
}
.top-week {
  font-family: "Lobster", cursive;
  background: rgba(209, 170, 134, 0.56);
  border: 2px solid #000000;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
