@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lobster&display=swap');* {
}
nav {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
 font-family: 'Alex Brush', cursive;
}
.navigation {
  background-color: antiquewhite;
  display: flex;
  
}
.links {
  background-color: rgb(76, 110, 110);
  width: 1050px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Lobster', cursive;

}
.links a {
    text-decoration: none;
}
.reg {
  background-color: rgb(203, 135, 52);
  display: flex;
  flex-direction: column;
  width: 360px;
}
.main_content {
  background-color: rgb(59, 59, 91);
  display: flex;
}
.quote {
  background-color: cadetblue;
  width: 1050px;
}
.slogan {
  background-color: chocolate;
  width: 1050px;
}
.top-week {
  background-color: cornflowerblue;
  width: 360px;
}
.demo {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
}
.instruction {
  background-color: dimgray;
}
